html {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: aliceblue;
}

.section {
  margin-top: 300px;
  padding: 4rem;
  display: flex;
  width: 80%;
  height: auto;
  border: 1px solid #ddd;
  margin: 0 auto;
  flex-direction: column;
}
h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.form {
  align-content: center;
  margin: 0 auto;
}
.input-note {
  width: 300px;
  height: 1.5rem;
  border-radius: 5px;
  padding: 5px;
  background-color: #000;
  border: 1px solid aliceblue;
  color: #ddd;
  font-size: 14px;
}

.add-note {
  cursor: pointer;
  padding: 10px;
  background-color: #000;
  border: 1px solid aliceblue;
  border-radius: 10px;
  color: #ddd;
  margin-left: 10px;
}
.add-note:hover {
  background-color: tomato;
  color: #fff;
  border: none;
  transition: 0.5s;
}
.section--2 {
  width: 70%;
  display: flex;
  align-content: space-between;
  margin: 0 auto;
  height: auto;
}
.notes {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 15px 25px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.content {
  width: 90%;
  line-height: 1.4rem;
  font-size: 17px;

  float: left;
  color: #eee;
}
.close {
  float: right;

  margin: 0 auto;
  width: 10%;
  text-align: center;
  align-content: center;
  align-items: center;

  padding: 0;
  background: none;

  color: aliceblue;
  font-size: 25px;
  cursor: pointer;
  border: none;
}
